@charset "utf-8";
.style h1{
    padding-top: .1em;
    padding-bottom: .1em;
    text-align: center;
    background-color: #28a745;
    color: #343a40 ;
    margin: 0; 
}
.style aside{
    padding: 2em 5em 5em 5em;
}
.mainRow{
    height: 15em;
}